<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Odev.Properties.Settings.MarketYonetimSistemiConnectionString"
            connectionString="Data Source=demet;Initial Catalog=MarketYonetimSistemi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Odev.Properties.Settings.stok_takipConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=stok_takip"
            providerName="MySql.Data.MySqlClient" />
        <add name="Odev.Properties.Settings.stoktakipConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=stoktakip"
            providerName="MySql.Data.MySqlClient" />
        <add name="Odev.Properties.Settings.yenistoktakipConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=yenistoktakip"
            providerName="MySql.Data.MySqlClient" />
        <add name="Odev.Properties.Settings.stokuntakibiConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=stokuntakibi"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>